.App {
  text-align: center;
  background: rgba(158, 163, 163, .5)
}

#page-title {
  color: rgb(32, 145, 152) !important;
  font-size: 3em;
  text-align: left;
  font-family: 'Monoton', cursive;
}

#home-button,
#login-button,
#logout-button,
#profile-button,
#signup-button {
  color: white;
  text-decoration: none;
}

a, u {
  text-decoration: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

#home-page {
  min-height: 100vh;
  /* background: rgba(158, 163, 163, .5); */
  margin-bottom: 0em;
}

#description {
  background: rgba(124, 123, 185, .5);
}

.title-bar {
  font-family: 'Monoton', cursive;
  color: rgb(21, 23, 22);
  font-size: 5em;
  background: rgb(48, 93, 121);
  margin-top: 0em;
  margin-bottom: 0em;
}

/* imgURL
backgroun-image: url
background-repeat: no repeat;
backgroun-size: cover;
footer copyright moodsic */
