a,
u {
  text-decoration: none;
}

.App {
  text-align: center;
  background: rgba(158, 163, 163, .5);
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.home-button {
  margin-left: 0.5em;
  padding: 0.05em 0.3em;
  font-size: 1.4em;
  transition: all 0.5s;
}

.home-button:hover {
  box-shadow: 0 0 0.3em rgba(0, 0, 0, .3);
  border-radius: 0;
}

.title-bar {
  font-family: 'Monoton', cursive;
  color: rgb(21, 23, 22);
  font-size: 5em;
  background: #607D8B;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: 0;
  font-weight: lighter;
}

.auth {
  margin-top: 2.3em;
  color: white;
}

.auth input {
  margin-bottom: 1.3em;
}

.hello {
  margin-left: 4em;
  margin-right: 4em;
  padding: 2em 3em;
  background: none !important;
}

.h1-test {
  color: white;
}

.h3-test {
  font-size: 3em;
}

.hello {
  font-size: 2em;
  position: relative;
  color: white;
}

.saved-text {
  font-size: 2em;
}

.playlist-box, .paper {
  padding-top: 2em;
}

.playlistgridimage {
  width: 80%; 
  max-height: 100%;
}


#home-page {
  min-height: 100vh;
  margin-bottom: 0;
}

#description {
  background: rgba(39, 17, 163, .5);
  font-size: 1em;
  color: black;
}

#sample-photo {
  max-width: 60vw;
  margin-top: 3em;
  padding-bottom: 5em;
}

#page-title {
  color: white !important;
  font-size: 3em;
  text-align: left;
  font-family: 'Monoton', cursive;
}

#home-button,
#login-button,
#logout-button,
#profile-button,
#signup-button {
  color: white;
  text-decoration: none;
}


#auth-wrapper, #update-page {
Background-image: url('./sheetmusic.jpeg');
Background-size: cover;
Background-position: center center;
Position: relative;
Top: 0;
Bottom: 0;
Height: 100vh;
}

/*********************************************************
              UPLOAD PHOTO PAGE
*********************************************************/
.show-dropzone {
  display: flex;
  justify-content: center;
  height: 400px;
}

.dropzone-container {
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-uploaded {
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #444;
  margin: 0 auto;
  padding: 3em 2em;
}

.hr {
  width: 85%;
  margin: 1em auto;
}

.image-uploaded-top {
  display: flex;
}

.currImage-container {
  flex: 0.6;
  text-align: center;
}

.image-uploaded-top {
  display: flex;
}

.image-uploaded-bottom {
  display: flex;
}

.spfyAtts {
  flex: 0.6;
}

.attsChart-container,
.colorChart-container {
  flex: 1;
}

.select-genre select {
  display: block;
  width: 300px;
  font-size: 1.3em;
  padding: 2em 1em;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
}

.select-genre input[type=submit] {
  padding: 5px 20px;
  background-color: #4054b2;
  font-size: 1em;
  color: #fff;
  width: 170px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #555;
  border: none;
  outline: none;
  margin: 1em 0;
}
/*********************************************************
              PLAYLIST PAGE
*********************************************************/
.playlist-grid {
  display: grid;
  grid-template-areas: "playlist-heading playlist-heading" "playlist-image playlist-tracks" "playlist-colorChart playlist-tracks" "playlist-attsChart playlist-tracks";
  grid-auto-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #444;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 2px solid #fff;
  color: #333;
}

.playlist-heading {
  grid-area: playlist-heading;
}

.playlist-image {
  grid-area: playlist-image;
}

.btn {
  margin: 0.4em !important;
}

.spfy-btn {
  background-color: #2fd566 !important;
  color: #333;
}

.playlist-image-large {
  width:50%;
  max-width: 400px;
  display: block;
  margin: 0 auto 1em;
  border: 2px solid #fff;
}

.playlist-tracks {
  grid-area: playlist-tracks;
  text-align: center;
  width: 30vw;
}

.playlist-colorChart {
  grid-area: playlist-colorChart;
  position: relative; 
  width: 100%;
}

.playlist-attsChart {
  grid-area: playlist-attsChart;
  margin-top: 1em;
  position: relative; 
  width: 100%;
}

.danceabilityP,
.energyP,
.modeP,
.valenceP {
  width: 50vw;
  margin: 0.5em auto;
  padding: 0.4em 0;
  border-radius: 5px;
  color: #333;
}

.valenceP {
  background-color: #32ace1;
}

.energyP {
  background-color: #fbeb3e;
}

.danceabilityP {
  background-color: #e71a8b;
}

.modeP {
  background-color: #e0e2e2;
}

/*********************************************************
              MOBILE STYLES
*********************************************************/

@media (max-width: 450px) {
  .title-bar {
    font-size: 3em;
  }
  .hello {
    margin: 0 auto;
    padding: 1em 2em;
  }
}

@media (max-width: 525px) {
  .playlist-image-large {
    width: 70vw;
  }
  .danceabilityP,
  .energyP,
  .modeP,
  .valenceP {
    width: 70vw;
    margin: 0.5em auto;
    padding: 0.4em 0;
    border-radius: 5px;
    color: #333;
  }
  .btn {
    display: block;
    margin: 0.4em !important;
  }

}



@media (max-width: 1205px) {

.playlist-grid {
  display: grid;
  grid-template-areas: "playlist-heading" "playlist-image" "playlist-colorChart" "playlist-attsChart" "playlist-tracks";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #444;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 2px solid #fff;
  color: #333;
}
.playlist-tracks {
  grid-area: playlist-tracks;
  text-align: center;
}
}